.filterForm {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto 30px;
}

.filterForm input,
.filterForm label,
.filterForm button {
  margin: 0 10px;
}

.filterForm label {
  font-size: 1.3rem;
  color: rgb(59, 32, 175);
}

.filterForm button {
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
}

.filterNumInput {
  width: 40px;
  text-align: center;
  padding: 1px 5px;
}

.filterNumInput:focus {
  border: none;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.filterForm button {
  background-color: rgb(176, 162, 189);
}

.filterForm button:hover, .filterForm button:active {
  background-color: #f4f4f49e;
}

.filterForm button:disabled {
  color: #f4f4f4;
  background-color: #797373;
}
