@font-face {
  font-family: "IranSanse";
  src: url("./../public/assets/fonts/IranSanse/IRANSANSWEB.TTF");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IranSanse", sans-serif, tahoma;
}
body {
  background-color: blueviolet;
}

button:focus-visible {
  outline: none;
}
